$font-main: 'Open Sans', sans-serif

*
	box-sizing: border-box

body
	margin: 0
	font-family: $font-main
	min-width: 320px

.container 
	max-width: 1200px
	padding: 30px 0
 
.container,
.row  
	margin: 0 auto 
 
.row  
	width: 100% 
	&:before,
	&:after  
		content: " " 
		display: block 
	&:after
		clear: both

.btn
	padding: 10px
	margin: 20px 10px

/* Modal */
.modal
	display: none
	background-color: rgba(0, 0, 0, 0.8)
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 100%
	z-index: 1

.modal-content
	background-color: #fff
	padding: 30px
	margin: 30% auto
	width: 30%
	position: relative
	.close-x
		position: absolute
		top: 10px
		right: 10px
		font-size: 1.5em
		font-weight: bold
		&:hover
			text-decoration: underline
			cursor: pointer

/* Final result */
.final-result
	display: none
	